.footer{
    &__item{
        &--btn {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid $colorSecundario;
        border-radius: 0.6em;
        color: $colorSecundario;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin: 20px;
        padding:5px 20px;
    }
    &--boton {
        border-color: $colorSecundario;
        box-shadow: 0 0 40px 40px $colorGris inset, 0 0 0 0 $colorSecundario;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    &--boton:hover {
        box-shadow: 0 0 10px 0 $colorSecundario inset, 0 0 10px 4px $colorSecundario;
    }
}
}

